@import "../../styles.scss";
// ******** GENERAL STYLES ********

main {
  margin-top: 5rem;
  background-color: $backgroundColor;
}

h3 {
  margin-right: 1.625rem;
}

.main-title,
.title-craftsmen {
  padding-left: 1.5rem;
}

// ******** SITE SECTION ********

ul {
  list-style-type: decimal;
  font-size: 1.875rem;
  color: $otherColor;
  font-weight: bold;
}

li {
  padding-bottom: 2.25rem;
}

img {
  width: 2.643125rem;
  height: auto;
}

.site-operation {
  padding: 6.25rem 0;
}

.site-section {
  padding-top: 8.1875rem;
  padding-left: 11.25rem;
}

.icon {
  display: flex;
}

.img-icon1 {
  padding-left: 24.5rem;
}

.img-icon2 {
  padding-left: 4rem;
}

.img-icon3 {
  padding-left: 2.5rem;
}

// ******** TOP 3 ********

.top3 {
  padding-bottom: 6.25rem;
}
